.idea
data
issues
nii_files
NOTEBOOKS
*.pyc
.gitignore.bak
PROSTATE_LESION_DETECTION_EXPERIMENT.ipynb
CONFIG.json
scripts
EXPERIMENTS
External_Validation_Results
ProstateNetData
*/.ipynb
ProstateLesionDetection_Training_ProstateNet.ipynb
Evaluation.ipynb
Results_Analysis.ipynb
*.ipynb
*.tf
*.h5
*.nii.gz
MaterialsGeneral
MaterialsGeneral.zip
EXPERIMENTS_v0.2/nnUnet
